@font-face {
  font-family: Ringbearer;
  src: url(../fonts/ringbearer.TTF);
}

body{
  background-color: #775728;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  
}

nav ul li a {
  text-decoration: none;
  color: #FCE2BB;
  
}

.banner {
  background-image: url(../img/banner_capa2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 600px;
  text-align: center;
  font-family: Ringbearer;
  font-weight: 700;
  font-size: larger;
  color: #3d2610d7;
  vertical-align: baseline;
}

.secao-botao{
    text-decoration: none;
    color:  #fce2bb;
}


